@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@400;700;900&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorFondo-primario: #171D2B;
  --colorFondo-secundario: #697185;
  --colorFuente-Gold: #ad793f;
  --colorFuente-bordo: #731627;
  --colorFondo-hueso: #f5ead0; 
  --fontGordita: 'Cinzel Decorative', sans-serif;
  /* #ad793f */
  /* #f5ead0 */
  /* #D9D9D9 */
}

html {
  /* font-size: 62.5%; */
  font-family: var(--fontGordita)
}

.title-card {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.content {
  color: var(--colorFuente-Gold);
  background-color: var(--colorFondo-primario);
  min-height: 100vh;
  padding-top: 85px ;
  
}
/*ESTILOS HEADER*/
nav {
  width: 100%; /* El navbar ocupa el 100% del ancho de la página */
  height: 85px;
  display: flex;
  position:fixed;
  top: 0;
  justify-content: space-between; /* Alinea elementos a la izquierda y derecha */
  align-items: center; /* Centra verticalmente */
  padding: 15px 20px 10px 10px; /* Relleno */
  background-color: #fffaff; /* Color de fondo */
  z-index: 1000;
}

.navbar-left {
  text-decoration: none; /* Quita subrayado en enlaces */
  color: #36383b;
  display: flex;
  align-items: center; /* Mantiene el logo y el texto en línea */
}

.navbar-right {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}
.nav-list {
  display: contents;
  list-style: none; /* Elimina los puntos predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  text-decoration: none;
}

/* Estilos CSS para cada ítem de la lista */
.nav-item {
  padding: 0 10px; /* Añade espacio interno */
  text-decoration: none;
}



.navbar-logo {
  height: 100px; /* Ajusta la altura del logo */
  margin-right: 2px; /* Espacio entre el logo y el texto */
}

.navbar-heading {
  margin: 0; /* Elimina el margen predeterminado del h2 */
}

.navbar-button {
  padding: 10px 15px; /* Ajusta el relleno del botón */
  color: #fff; /* Color del texto */
  border: none; /* Sin bordes */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano cuando se pasa el ratón */
  transition: all 0.3s; /* Efecto de transición */
  font-weight: 600;
}

.btn-login {
  border: 1px solid var(--colorFuente-bordo);
  color: var(--colorFuente-bordo);
  background-color: #fffaff;
}

.btn-login:hover {
  color: #fffaff;
  background-color: var(--colorFuente-bordo);
}


.btn-register {
  background-color: var(--colorFuente-bordo); /* Color del botón */
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5); /* Color del botón */
}

.btn-register:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5); /* Color del botón */
}

/*ESTILOS FOOTER*/
footer{
  width: 100%; /* Ocupa el ancho completo */
  padding: 20px; /* Relleno */
  background-color: #f5f5f5; /* Color de fondo */
  position: relative;
  z-index: 1000;
}
.footer-content {
  
  display: flex; /* Usa Flexbox para distribuir elementos */
  justify-self: baseline;/* Alinea el contenido a los lados opuestos */
  align-items: center; /* Alinea verticalmente */

}

.footer-left {
  padding: 1%;
  width: 25%;
  display: flex;
  flex-direction: column; /* Distribuye en columna */
  align-items: center; /* Alinea al centro */
  border-right: 5px solid #000;
  border-radius: 8px;
}

.footer-logo-large {
  height: 180px; /* Tamaño del logo principal */
  width: 180px;
}

.footer-text {
  font-size: 25px;
  font-weight: bold;
  margin-top: -25px; /* Espacio entre el logo y el texto */
  text-align: center; /* Centra el texto */
}

.footer-socials {
  display: flex; /* Distribuye las imágenes de los logotipos en línea */
  margin-top: 10px; /* Espacio entre el texto y los iconos */
  justify-content: center; /* Centra los iconos */
}

.footer-logo {
  height: 80px; /* Ajusta el tamaño del logo */
  margin: 0 3px; /* Espacio entre los iconos */
  cursor: pointer; /* Cambia el cursor para hacer clic */
  transition: transform 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-logo:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}


.footer-right {
  width: 75%;
  margin-left: 10%;
  font-family: var(--fontGordita);
  display: flex;
  flex-direction: column;
}
.footer-lists {
  display: flex; /* Usa flexbox para alinear las listas una al lado de la otra */
  justify-content: space-around;
  margin-bottom: 5%;
}
.footer-list {
  list-style: none; /* Quita los puntos de la lista */
  padding: 0;
  margin: 0 20px; /* Espacio entre las listas */
  font-weight: bold;
}

.footer-list li {
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  cursor: pointer; /* Cambia el cursor para hacer clic */
  transition: color 0.3s; /* Efecto de transición al pasar el cursor */
}

.footer-list li:hover {
  color: #007BFF; /* Color al pasar el cursor */
}
.footer-divider {
  width: 30%; /* El 30% del ancho de footer-right */
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 20px auto; /* Margen superior e inferior, centrado horizontalmente */
}

.footer-ingredients {
  width: 100%; /* Ancho completo de footer-right */
  text-align: center; /* Texto centrado */
}

.footer-ingredients p {
  margin: 0; /* Sin margen */
}
.footer-horizontal-line {
  width: 100%; /* Ocupa el ancho completo de footer-right */
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 5px 0; /* Margen superior e inferior */
}

.footer-additional {
  text-align: center; /* Texto centrado */
  margin-bottom: 10px; /* Margen inferior */
}

.footer-additional p {
  font-size: 14px; /* Tamaño de fuente del texto adicional */
}

.footer-additional a {
  color: #000; /* Color de los enlaces */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  margin: 0 10px; /* Espacio entre los enlaces */
  transition: color 0.3s; /* Efecto de transición de color */
}

.footer-additional a:hover {
  color: #007BFF; /* Color al pasar el cursor sobre los enlaces */
}

/****ESTILOS HOME*****/
.home {
  background-color: #171D2B;
  align-items: center;
  /* margin-top: 60px; */
  height: 100%;
  
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 10px;
  margin-bottom: 10%;
  
}

.card {
  perspective: 1000px; /* Añade perspectiva para el efecto de giro */
  text-decoration: none;
  color: black;
}

.card-front, .card-back {
  width: 325px;
  height: 549px; /* Altura fija para las tarjetas */
  border-radius: 10px;
  text-align: center;
  background-color: #f5f5f5;
  backface-visibility: hidden; /*Oculta el reverso al girar*/
  transition: transform 0.6s;
  position: absolute;
}

.card-front {
  background-size: cover; /* Ajusta la imagen de fondo */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color del texto */
  padding: 15px;
}

.card-front h1 {
  /* position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  padding-left: 10px;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg); /* Posición inicial del reverso */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5ead0; /* Color de fondo del reverso */
  color: #ad793f;
  font-size: 120%;
  font-weight: 600;
}

.card:hover .card-front {
  transform: rotateY(180deg); /* Gira el frente al pasar el mouse */
}

.card:hover .card-back {
  transform: rotateY(360deg); /* Gira el reverso al pasar el mouse */
}

.card {
  position: relative;
  width: 321px;
  height: 549px;
  transform-style: preserve-3d;
}

.bordelindo {
  border: 1px solid var(--colorFuente-Gold);
}

/****ESTILO CARD RECETAS****/
.recipe-card {
  perspective: 1000px; /* Añade perspectiva para el efecto de giro */
  text-decoration: none;
  color: black;
  position: relative;
  width: 250px; /* Ancho fijo para tarjetas */
  height: 300px; /* Altura fija para tarjetas */
  transform-style: preserve-3d;
}

.recipe-card-title {
  font-family: var(--fontGordita);
}

.recipe-card-front, .recipe-card-back {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio interno */
  text-align: center; /* Centra el contenido */
  background-color: #f5f5f5; /* Color de fondo */
  backface-visibility: hidden; /* Oculta el reverso al girar */
  transition: transform 0.6s;
  position: absolute; /* Posiciona las caras de la tarjeta en el mismo lugar */
  top: 0; /* Alinea la parte superior de ambas caras */
  left: 0; /* Alinea la parte izquierda de ambas caras */
}

.recipe-card-front {
  background-size: cover; /* Ajusta la imagen de fondo */
  background-position: center;
  display: flex;
  align-items: flex-end; /* Alinea el título en la parte inferior */
  justify-content: flex-start; /* Alinea el título a la izquierda */
  color: white; /* Color del texto */
}

.recipe-card-front h3 {
  position: absolute;
  bottom: 10px;
  left: 10px; /* Posiciona el título a la izquierda */
  margin: 0;
}

.recipe-card-back {
  transform: rotateY(180deg); /* Posición inicial del reverso */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #731627; /* Color de fondo del reverso */
  flex-direction: column; /* Apila el contenido en columna */
}

.recipe-card:hover .recipe-card-front {
  transform: rotateY(180deg); /* Gira el frente al pasar el mouse */
}

.recipe-card:hover .recipe-card-back {
  transform: rotateY(360deg); /* Gira el reverso al pasar el mouse */
}

.recipe-card-category {
  font-size: 1rem; /* Tamaño de fuente para la categoría */
  color: #EFB810; /* Color del texto para la categoría */
  margin-bottom: 10px; /* Espacio entre la categoría y la descripción */
}

.recipe-card-description {
  font-size: 0.9rem; /* Tamaño de fuente para la descripción */
  color: #EFB810; /* Color del texto para la descripción */
}




/*ESTILOS SECCION RECOMENDADOS*/
.recommended-section {
  margin-top: 2%;
  padding: 2% 10% 4% 10%;
  background-color:var(--colorFondo-hueso);
}
.recommended-grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cinco columnas */
  gap: 10px; /* Espacio entre tarjetas */
}

/* *Esta parte no es necesaria se puede llegar a quitar
.recommended-section {
  display: grid; Usar CSS Grid en lugar de Flexbox
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); Distribuir automáticamente las tarjetas en columnas de al menos 250px de ancho
  gap: 20px; Espacio entre tarjetas
  padding: 20px; Espacio interno para la sección
} 
*/

.titulo-recomendados{
  margin-bottom: 3%;
  margin-left: 1%;
}

/*ESTILO BARRA BUSQUEDA*/

.search-bar {
  display: flex; /* Flexbox para alinear elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 40px auto; /* Margen para el contenedor */
  margin-bottom: 70px;
}

.search-bar-container {
  position: relative; /* Posiciona el contenedor relativamente */
  width: 550px; /* Ancho del contenedor */
}

.search-bar input::placeholder {
  color: #d8d6d6; /* Cambia el color del texto del placeholder */
  opacity: 100%; /* Asegúrate de que la opacidad esté al 100% */
}

.search-bar input {
  background-color: var(--colorFondo-secundario);
  width: 100%; /* El campo de entrada ocupa todo el ancho del contenedor */
  padding: 10px 40px 10px 10px; /* Espacio interno con espacio para el botón */
  border: none;
  border-radius: 30px; /* Bordes redondeados */
  outline: none; /* Quita el contorno azul al enfocar */
  transition: all 0.3s; /* Transición suave para efectos */
  color: #f0efef;
}

.search-bar input:hover,
.search-bar input:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor o enfocar */
}

.search-button {
  position: absolute; /* Posiciona el botón absolutamente */
  right: 1px; /* Desplaza el botón hacia la derecha */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta la posición vertical */
  background-color: #f1f1f1; /* Color de fondo del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Hace el botón circular */
  width: 36px; /* Ancho del botón */
  height: 36px; /* Alto del botón */
  display: flex; /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: all 0.3s; /* Transición suave */
}

.search-button:hover {
  transform: translateY(-50%) scale(1.1); /* Efecto al pasar el cursor */
}

.search-icon {
  width: 25px; /* Ajusta el tamaño del ícono */
  height: 25px; /* Ajusta el tamaño del ícono */
}

/* Estilos para las tarjetas de categorías */
.card-categoria {
  background-color: #f5f5f5; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar el contenido desbordado */
  transition: transform 0.3s; /* Efecto al pasar el cursor */
  text-align: left; /* Alinear el texto a la izquierda */
}

.card-categoria:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

.card-categoria img {
  width: 100%; /* Imagen ocupa todo el ancho */
  border-bottom: 1px solid #ccc; /* Borde inferior */
}

.card-categoria-content {
  padding: 15px; /* Espacio interno */
}

.card-categoria-title {
  margin: 10px 0; /* Espacio para el título */
}

.card-categoria-description {
  font-size: 0.9rem; /* Tamaño de fuente para la descripción */
  color: #555; /* Color del texto para la descripción */
}

.card-categoria-category span {
  display: inline-block; /* Mostrar como bloque en línea */
  background-color: #e0e0e0; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px 10px; /* Espacio interno */
  margin-right: 5px; /* Espacio entre etiquetas */
  font-size: 0.8rem; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}

.category-recipes {
  margin-top: 80px;
  display: grid; /* Usar CSS Grid */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuir automáticamente las tarjetas en columnas de al menos 250px de ancho */
  gap: 20px; /* Espacio entre tarjetas */
  padding: 20px; /* Espacio interno */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* *SECCION DETALLE */
.name-container {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.recipe-img-container {
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-1 {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

.img-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.img-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.img-4 {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
}

.img-5 {
  grid-column: 4 / 5;
  grid-row: 2 / -1;
}

.ver-mas {
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.8));

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.carousel-popup {
  position: relative;
  width: 60%;
  height: 60%;
  background: white;
  border: 5px solid gold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.carousel.carousel-slider .control-arrow {
  top: 47%;
}

.details-container {
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.recipe-detail-data {
  grid-column: 1 / 3;
  font-size: 28px;
  text-align: left;
}

.side-details-container {
  font-size: 28px;
  grid-column: 3 / -1;
}

.nutritional-details {
  margin-bottom: 50px;
}

.week-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.week-day {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-hamburguesa {
  display: none;
}
.register {
  border-color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.register-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  
  border-radius: 5px;
  font-size: 16px;
}

input.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
}
.form-buttons {
  display: flex;
  justify-content: space-around;
  
}
.register-button, .cancel-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  box-sizing: border-box;
}
.register-button {
  background-color: #3498db;
  color: #fff;
}
.register-button:hover {
  background-color: #999;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.cancel-button:hover {
  background-color: #999;
}
.login {
  border-color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
  
}

/* Styles for the form */
.login-form {
  display: flex;
  flex-direction: column;
}
.login-button,
.cancel-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
  box-sizing: border-box;
}

.login-button {
  background-color: #3498db;
  color: #fff;
}

.login-button:hover {
  background-color: #2980b9;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ccc;
  background-color: #171D2B;
  display: flex;
  font-size: 200%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logout-button {
 
  color: rgb(3, 2, 2);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.mobile-nav-list {
  display: none;
}

.logout-button:hover {
  background-color: #9e3b3b;
}

@media (max-width: 920px) {

  .nav-list, .navbar-right {
    display: none;
  }
  logo grisAzul.png
  .menu-hamburguesa {
    display: inline-block;
    position: relative;
    z-index: 20;
  }

  .mobile-nav-list{
    width: 100%;
    height: 100vh;
    font-size: 32px;
    background-color: #f5f5f5;
    list-style: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    z-index: 10;
  }
  
  .mobile-item {
    border-left: 0;
  }

  .mobile-item a:link, .mobile-item a:visited {
    color: #000;
    text-decoration: none;
  }
  .nav-item:hover,  .mobile-item:hover {
    cursor: pointer;
  }
}